
@import url('global.css');

.subscribe-container {
    max-width: 600px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input, button {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
    color: green;
    margin-top: 10px;
}
